
<!-- About Start -->

<section id="about" class="container content-section text-center">
<div class="row">
<div class="col-lg-10 col-lg-offset-1">
<h1 style="text-align:left">About</h1>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-lg-offset-1">
<p  style="text-align:left"><b>FIND</b> is an <a href="https://en.wikipedia.org/wiki/Indoor_positioning_system">internal positioning system</a> developed by the folks at <a href="http://www.hypercubeplatforms.com/">Hypercube Platforms</a>. Using <b>FIND</b>, and only your smartphone or laptop, you will be able to pinpoint your position in your home or office.</p>
<p style="text-align:left">Unlike GPS on your smartphone, this system has a gelocation precision of below 10 sq ft. Also unlike GPS, the app utilizes pre-existing operations so it has no significant cost to your battery.</p>
<p  style="text-align:left">This system is open-source and fully configurable but also easy to use and simple to set up. It is suited to small-scale home applications as well as large-scale business and school applications. </p>
</div>
<div class="col-lg-4">
<img src="https://i.imgur.com/2rHzFdS.gif" width=300></img>
</div>
</div>
</section>

<!-- About End -->
