
<!-- Career Start -->

<section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          {{ page.content | markdownify }}

          <ul class="timeline">

            {% for event in site.events %}
              {% assign loopindex = forloop.index | modulo: 2 %}
              {% capture class %}
              {% if loopindex == 0 %}
                timeline-inverted
              {% endif %}
              {% endcapture %}

              <li class="{{ class }}">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="{{site.baseurl}}{{ event.image }}" alt="">
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4>{{ event.date }}</h4>
                      </div>
                      <div class="timeline-body">
                          {{ event.description | markdownify }}
                      </div>
                  </div>
              </li>
            {% endfor %}

            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="{{site.baseurl}}{{ site.career-img }}" alt="">
              </div>
            </li>
          </ul>
        </div>
    </div>
</section>

<!-- Career End -->
