
<!-- About Start -->
<style>


/* Use a wide full screen for small screens like tablets. */
@media (min-width: 768px) and (max-width:992px) {
    .container {
		width: initial;
        padding-left: 2em;
        padding-right: 2em;        
	}
}

/* --- Plans ---------------------------- */

.my_planHeader {
    text-align: center;
    color: white;
    padding-top:0.2em;
    padding-bottom:0.2em;
}
.my_planTitle {
    font-size:2em;
    font-weight: bold;
}
.my_planPrice {
    font-size:1.4em;
    font-weight: bold;    
}
.my_planDuration {
    margin-top: -0.6em;
}

@media (max-width: 768px) {
    .my_planTitle {
        font-size:small;
    }    
}

/* --- Features ------------------------- */

.my_feature {
    line-height:2.0em;   
}

@media (max-width: 768px) {
    .my_feature {
        text-align: center
    }
 }

.my_featureRow {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: 0.1em solid rgb(163, 163, 163);
}    

/* --- Plan 1 --------------------------- */
.my_plan1 {
    background: rgb(224,234,242);
}

.my_planHeader.my_plan1 a {
    background: rgb(72, 109, 139);
    color:white;
}

.my_planHeader.my_plan1 {
    background: rgb(0, 0, 0);
    border-bottom: thick solid rgb(0, 0, 0);
}

/* --- Plan 2 --------------------------- */
.my_plan2 {
    background: rgb(230,235,218);
}

.my_planHeader.my_plan2 a {
    background: rgb(108, 131, 62);
    color:white;
}

.my_planHeader.my_plan2 {
    background: rgb(0, 0, 0);
    border-bottom: thick solid rgb(0, 0, 0);
}

/* --- Plan 3 --------------------------- */
.my_plan3 {
    background: rgb(254,235,212);
}

.my_planHeader.my_plan3 a {
    background: rgb(199, 127, 40);
    color:white;
}

.my_planHeader.my_plan3 {
    background: rgb(0, 0, 0);
    border-bottom: thick solid rgb(0, 0, 0);
}




.my_planFeature {
    text-align: center;
    font-size: 2em;
}

.my_planFeature i.my_check {
    color: green;
}




</style>
<section id="features" class="container content-section text-center">
<div class="container">
<div class="row">
<div class="col-lg-10 col-lg-offset-1">
<h1 style="text-align:left">Features</h1>
</div>
</div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-4 col-sm-8">
            <div class="row">
                <div class="col-xs-4 my_planHeader">
                    <div class="my_planTitle"><span class="cool">Personal</span></div>
                    <div class="my_planPrice"><span class="cool">Free</span></div>
                </div>
                <div class="col-xs-4 my_planHeader">
                    <div class="my_planTitle"><span class="cool">Home</span></div>
                    <div class="my_planPrice"><span class="cool">Free</span></div>
                </div>
                <div class="col-xs-4 my_planHeader">
                    <div class="my_planTitle"><span class="cool">Business</span></div>
                    <div class="my_planPrice"><span class="cool">$5 / month</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            Realtime tracking
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row" >
                <div class="col-xs-4 col-sm-4" style="display: inline-block;vertical-align: middle; ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>
    <div class="row my_featureRow">
        <h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            Realtime GIS tracking
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row" >
                <div class="col-xs-4 col-sm-4" style="display: inline-block;vertical-align: middle; ">
                    <h2><i class="fa" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>
    <div class="row my_featureRow">
    	<h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            HOME AUTOMATION INTEGRATION
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row"  style="vertical-align: middle; ">
                <div class="col-xs-4 col-sm-4"  style="vertical-align: middle; ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>   
    <div class="row my_featureRow">
    	<h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            Built-in security
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row"  style="vertical-align: middle; ">
                <div class="col-xs-4 col-sm-4"  style="vertical-align: middle; ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>   
    <div class="row my_featureRow">
    	<h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            SIMPLE FLOOR-PLAN BUILDING
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row" >
                <div class="col-xs-4 col-sm-4" style="display: inline-block;vertical-align: middle; ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>
 
    <div class="row my_featureRow">
    	<h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            Way-finding
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row"  style="vertical-align: middle; ">
                <div class="col-xs-4 col-sm-4"  style="vertical-align: middle; ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>    
    <div class="row my_featureRow">
    	<h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            Automatic networking
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row"  style="vertical-align: middle; ">
                <div class="col-xs-4 col-sm-4"  style="vertical-align: middle; ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>    
  
    <div class="row my_featureRow">
        <h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            Unlimited users and groups
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row"  style="vertical-align: middle; ">
                <div class="col-xs-4 col-sm-4"  style="vertical-align: middle; ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>    
    <div class="row my_featureRow">
        <h4>
        <div class="col-xs-12 col-sm-4 my_feature">
            24/7 support
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row"  style="vertical-align: middle; ">
                <div class="col-xs-4 col-sm-4"  style="vertical-align: middle; ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4 ">
                    <h2><i class="fa"></i></h2>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h2><i class="fa fa-check my_check" style="color:green; display: inline-block;vertical-align: middle; "></i></h2>
                </div>
            </div>
        </div>
        </h4>
    </div>  

</div>
</section>

<!-- Features End -->

