<section id="get-started"  class="container content-section text-center">
   <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
         <h1 style="text-align:left">Getting started</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
         <p  style="text-align:left">There are <strong>three options</strong> of FIND depending on how you would like to use it: "Personal," "Home," and "Business." Each of these options has their own specific <a class="page-scroll"  href="#features">set of features</a>.


         <h3   style="text-align:left">1. Personal - Free</h3>
         <p style="text-align:left">By far, this is the simplest and easiest way to start. Though you won't have a complete set of features using this option, this is perfect if you just want to try it out.
         <p style="text-align:left">You can download <em>all the source code</em> to build your own server, app, command line programs, if you want. We have kept the useful part of FIND open-source, so that you can use it for your own projects. This option also only has a limited set of features, however you can run it at home on whatever system you want.</p>
         <p style="text-align:center"><a href="https://play.google.com/store/apps/details?id=com.hcp.find" class="btn btn-default btn-lg"><i class="fa fa-mobile fa-fw"></i> <span class="network-name">Try it</span></a>
            &nbsp;&nbsp;&nbsp;<a href="https://github.com/schollz/find" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Start from source</span></a>
         </p>

         <h3   style="text-align:left">2. Home  (coming soon) </h3>
         <p style="text-align:left">This implementation will readily facilitate a large range of applications and additional features - peer-to-peer way-finding, customized floor-plans, better security and scalability, among others. If you are interested in this solution, go ahead and <a href="http://eepurl.com/bhfFI1">signup!</a></p>
         <!-- <p style="text-align:center"><a href="http://eepurl.com/bhfFI1" class="btn btn-default btn-lg"><i class="fa"></i> <span class="network-name">Coming <i>very</i> soon</span></a></p> -->

         <h3   style="text-align:left">3. Business (coming soon)</h3>
         <p style="text-align:left">If you are satisfied with the implementation and need something with more users, we can help you out. Please contact us for more information!</p>
         <!-- <p style="text-align:center"><a href="http://eepurl.com/bhfFI1" class="btn btn-default btn-lg"><i class="fa"></i> <span class="network-name">Coming soon</span></a></p> -->





         <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"885d1826479b36238603d935c","lid":"dfc8e534c4"}) })</script>
   	  </div>
   </div>
</section>
