<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="nl.nielsad.cordova.wifiscanner"
      version="0.0.1">

	<name>WifiScanner</name>
	<description>Interface for android.net.wifi.WifiManager to list available access points and their signal strengths on Android.</description>
	<license>Apache 2.0</license>
	<keywords>wifi,wifimanager,rssi</keywords>
    <repo>https://github.com/nielsAD/cordova-wifiscanner.git</repo>
    <issue>https://github.com/nielsAD/cordova-wifiscanner/issues</issue>

	<js-module src="www/AccessPoint.js" name="AccessPoint">
		<clobbers target="AccessPoint" />
	</js-module>
	
	<js-module src="www/WifiScanner.js" name="wifi">
		<clobbers target="navigator.wifi" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="WifiScanner">
				<param name="android-package" value="nl.nielsad.cordova.wifiscanner.WifiListener"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
		</config-file>

		<source-file src="src/android/WifiListener.java" target-dir="src/nl/nielsad/cordova/wifiscanner" />
	</platform>
</plugin>
