<html>
<head>		
<!-- D3 CHARTS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/js/d3.min.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<script src="/static/js/jquery-1.11.0.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
<style>

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.x.axis path {
		display: none;
	}

/*  LINE  */
	/* Line base style */
	.line {
		fill: none;
		stroke: steelblue;
		stroke-width: 2px;
	}
	/* Line mouse hover style */
	.line:hover {
		fill: none;
		stroke: red;
		stroke-width: 2px;
	}

	.overlay {
		fill: none;
		pointer-events: all;
	}

	.focus circle {
		fill: none;
		stroke: steelblue;
	}

/*  LEGEND CELL  */
	.cell:hover {background-color:lightgrey;}

/*  Div Containers  */
	.wrapper {
		width: 100%;
		font: 10px sans-serif;
	}
	.legend_container {
		float: right;
		width: 110px;
		padding-left: 10px;
		height: 10px;
		z-index: 5;
	}
	.charts_container {
		float: left;
		width: 85%;
		max-width: 1710px;
		height: 800px;
	}

	.selection_wrapper {
		background-color: lightgrey;
	}


    </style>
</head>
<body onload="reloadSVG()">

    <div class="wrapper">
        <div class="selection_wrapper">
            <select id='chart_selection'> </select>
            <select id='data_selection'> </select>
        </div>
        <div class="chart_wrapper">
	        <div class="legend_container">Macs</div>
	        <div class="charts_container"></div>
    	</div>
    </div>


<script>
window.onresize = reloadSVG;

function reloadSVG() {
	  var myWidth = 0, myHeight = 0;
	  if( typeof( window.innerWidth ) == 'number' ) {
	    //Non-IE
	    myWidth = window.innerWidth;
	    myHeight = window.innerHeight;
	  } 
	  else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
	    //IE 6+ in 'standards compliant mode'
	    myWidth = document.documentElement.clientWidth;
	    myHeight = document.documentElement.clientHeight;
	  } 
	  else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
	    //IE 4 compatible
	    myWidth = document.body.clientWidth;
	    myHeight = document.body.clientHeight;
	  }
	var margin = {top: 20, right: 50, bottom: 30, left: 50},
		width = myWidth - margin.left - margin.right,
		height = 120 - margin.top - margin.bottom;

	var x = d3.scale.linear()
		.range([0, width]);

	var y = d3.scale.linear()
		.range([height, 0]);

	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("bottom");

	var yAxis = d3.svg.axis()
		.scale(y)
		.orient("left");

	var line = d3.svg.line()
		.x(function(d) { return x(d.x); })
		.y(function(d) { return y(d.y); });

	// FILTER
	function filter(){
		var key = d3.select(this).attr("class").replace("legend","");
		var lines = d3.selectAll(".line");
		for (var _l = 0; _l < lines[0].length; _l++){
			var line = d3.select(lines[0][_l]);
			if ( line.attr("class").indexOf(key) == -1 ){
				line.style("display", "none");
			}
			else {
				line.style("display", "block");
			}
		}
	}

	// Generate Legend
	function generate_legend(){
		function mouseover(){
			/* select all lines */
			var obj = d3.select(this);
			var obj_class = '.' + obj.attr("class").replace(" ",".").replace("legend","line");
			var objs = d3.selectAll(obj_class);
			for (var o = 0; o < objs[0].length; o++){
				d3.select(objs[0][o])
					.style("stroke","red")
					.style("stroke-width","2");
			}
		}
		function mouseout(){
			/* select all lines */
			var objs = d3.selectAll('.line');
			for (var o = 0; o < objs[0].length; o++){
				d3.select(objs[0][o])
					.style("stroke","steelblue")
					.style("stroke-width","2");
			}
		}
		var arr = [];
		for (var _graph in graph_data) {
			for (var _i in graph_data[_graph]){
				if (arr.indexOf(_i) == -1){
					arr.push(_i);
					var svg = d3.select(".legend_container").append("svg")
						.attr("width", 110)
						.attr("height", 10)
						.attr("class","cell _" + _i.replace(/:/g,'') )
						.append("g")
						.attr("transform", "translate(" + 10 + "," + 10 + ")");
					svg.append("g")
						.attr("width", 10)
						.attr("height", 10)
						.on("mouseover",mouseover)
						.on("mouseout",mouseout)
						.attr("class", "legend _" + _i.replace(/:/g,'') )	// Remove bad characters
						.on("click", filter)	// apply filter
						.append("text")
						.text(_i)
					;
				}
			}
		}
	}


	var xData = [];
	var yData = [];
	var graph_data = {};
	function build_series(rawData){
		var lineData = [];
		for (var _i = 1; _i < rawData[0].length; _i++){
			lineData.push(
				{
					'x': rawData[0][_i],
					'y': rawData[1][_i]
				}
			);
			xData.push(rawData[0][_i]);
			yData.push(rawData[1][_i]);
		};
		return lineData;
	}



	function create_chart(){
		// CLEAR OLD CHARTS
		d3.select(".charts_container").html("");
		d3.select(".legend_container").html("Legend");
		graph_data = {};
		// FORMAT CHART DATA
		var selection1 = d3.select('#chart_selection').property("value");
		var selection2 = d3.select('#data_selection').property("value");
		console.log(selection1,selection2);
		if (selection1 == 'All') {
			// ALL LOCATION DATA
			for (var _s in chart_data){
				for (var _t in chart_data[_s][selection2]) {
					for (var _i in chart_data[_s][selection2][_t].data){
						series = build_series(chart_data[_s][selection2][_t].data[_i]);
						if (graph_data[_t]){
							graph_data[_t][_i] = series;
						}
						else {
							graph_data[_t] = {};
						}
					}
				}
			}
		}
		else {
			// SELECTED CLUSTER LOCATION DATA
			for (var _t in chart_data[selection1][selection2]) {
				for (var _i in chart_data[selection1][selection2][_t].data){
					series = build_series(chart_data[selection1][selection2][_t].data[_i]);
					if (graph_data[_t]){
						graph_data[_t][_i] = series;
					}
					else {
						graph_data[_t] = {};
					}
				}
			}
		}

		// CREATE LEGEND
		generate_legend();

		function highlightRoomMacs(){
			console.log(d3.select(this).attr("class"));
		};

		for (var _graph in graph_data) {
		/*  GRAPH LABEL  */
			var label = d3.select(".charts_container").append("svg")
				.attr("width", width - 50)
				.attr("height", 14)
				.append("g")
				.append("text")
				.text(_graph)
				.attr("class",_graph)
				.attr("transform", "translate(" + margin.left + "," + 10 + ")")
				.on("mouseover",highlightRoomMacs);
		/*  GRAPH  */
			var svg = d3.select(".charts_container").append("svg")
				.attr("width", width - 50)
				.attr("height", height + margin.top + 14)
				.attr("id", _graph)
				.append("g")
				.attr("transform", "translate(" + margin.left + "," + 5 + ")");
		/*  SET BOUNDS  */
			x.domain([d3.min(xData), d3.max(xData)]);	// Calculate x-range from min and max values
			y.domain([d3.min(yData), d3.max(yData)]);	// Calculate y-range from min and max values
		/*  SET X & Y AXIS  */
			// X AXIS
			svg.append("g")
				.attr("class", "x axis")
				.attr("transform", "translate(0," + height + ")")
				.call(xAxis);
			// Y AXIS
			svg.append("g")
				.attr("class", "y axis")
				.call(yAxis)
				.append("text")
				.attr("transform", "rotate(-90)")
				.attr("y", 6)
				.attr("dy", ".71em")
				.style("text-anchor", "end");
				//.text("unknown");


			for (var _i in graph_data[_graph]){

				function mousemove() {
					// get line chart_data for mouseover point
					var graph = d3.select(this).attr("graph"), 
						key = d3.select(this).attr("key");
					// find x
					var bisectX = d3.bisector(function(d) { return d.x; }).left;
					var chart_data = graph_data[graph][key];
					var x0 = x.invert(d3.mouse(this)[0]),
						i = bisectX(chart_data, x0, 1),
						d0 = chart_data[i - 1],
						d1 = chart_data[i],
						d = x0 - d0.X > d1.X - x0 ? d1 : d0;
					console.log(graph,key,d);
				}

				
				function mouseover(){
					var obj = d3.select(this);
					var obj_class = '.' + obj.attr("class").replace(" ",".");
					console.log(obj_class);
					var objs = d3.selectAll(obj_class);
					for (var o = 0; o < objs[0].length; o++){
						d3.select(objs[0][o])
							.style("stroke","red")
							.style("stroke-width","2");
					}
					var cell = d3.select(obj_class.replace("line","cell"))
						.style("background-color","lightgrey");
				}
				
				function mouseout(){
					var objs = d3.selectAll('.line');
					for (var o = 0; o < objs[0].length; o++){
						d3.select(objs[0][o])
							.style("stroke","steelblue")
							.style("stroke-width","2");
					}
					var objs = d3.selectAll('.cell');
					for (var o = 0; o < objs[0].length; o++){
						d3.select(objs[0][o])
							.style("background-color","")
					}
				}
			

				svg.append("path")
					.attr("key", _i)
					.attr("graph",_graph)
					.datum(graph_data[_graph][_i])
					.attr( "class", "line _" + _i.replace(/:/g,'') )	// add class for filtering, remove bad characters
					.attr("d", line)
					.on("mousemove", mousemove)
					.on('mouseover', mouseover)
					.on('mouseout', mouseout)
				;

			}

		}
	}


	var chart_data = {};

	// GET DATA
	var myjson = '{{ json_string|safe }}'
	var data = JSON.parse(myjson)
	// REPORT ERROR
	// create <option>'s
	d3.select('#chart_selection').append('option').text('All').attr('value','All');
	var options = [];
	for (var _t in data){
		d3.select('#chart_selection').append('option').text(_t).attr('value',_t);
		for (var _q in data[_t]){
			if (options.indexOf(_q) == -1) {
				options.push(_q);
				d3.select('#data_selection').append('option').text(_q).attr('value',_q);
			}
		}
	}
	d3.select('#chart_selection').on("change", create_chart);
	d3.select('#data_selection').on("change", create_chart);
	// save json data
	chart_data = data;
	// initate chart
	create_chart();

/* 
	Notes:
	http://bl.ocks.org/gniemetz/4618602
	http://bl.ocks.org/mbostock/3902569
	http://bl.ocks.org/Caged/6476579
*/
}
</script>












</body>
</html>