
{% extends "base.html" %}
{% block head_scripts %}
        <style>


.location-listing > .row > .col-md-6:nth-child(2n+1) {
    clear: both;
}

        iframe:focus {

            outline:none;
        }
        iframe[seamless] {
            display:block;
        }

        dl {
          width: 100%;
          overflow: hidden;
        }
        dt {
          float: left;
          width: 50%;
          /* adjust the width; make sure the total of both is 100% */
        }
        dd {
          float: left;
          width: 50%;
          /* adjust the width; make sure the total of both is 100% */
        }

        .chartLabel {
  font: 16px sans-serif;
  fill: #666;
}
.arcLabel {
  font: 10px sans-serif;
  fill: #fff;
}
        </style>



    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/d3.tip.v0.6.3.js"></script>
{% endblock %}

{% block content %}
	 <!-- Page Content -->
	<div class="container">

        
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Classifications
					<small>View realtime classifications</small>
				</h2>
			</div>


		</div>
        




        <!-- Page Header -->
        {% if data['message'] %}
         <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
        <div class="center-block">
        {% if 'error' in data['message']|lower %}
        <p class="bg-danger text-center lead">
        {% else %}
        <p class="bg-success text-center lead">        
        {% endif %}
        {{ data['message'] }}</p>
        </div></div></div>
        {% endif %}





    <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
            <h3>Current positions</h3>
        </div>
    </div>

<div class="row clearfix" id="content-row">
    <div class="col-xs-12 column">



    <div class="well" id="volume-stats-well">
        <div class="row clearfix" id="location-listing">
        
            {% for user in data['locations'] %}
              <div class="col-md-4 column" id="volume-fees-chart">
                <div class="panel panel-primary" id="volume-fees-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ user }}
                        </h3>
                    </div>
                    <div class="panel-body">
                         <dl>
                        <dt>Location: </dt>
                        <dd id="{{ user }}location">{{ data['locations'][user]['location']}}</dd>
                        <dt>Last seen: </dt>
                        <dd id="{{ user }}time">{{ data['locations'][user]['time'] }}</dd>

                        </dl>
                    </div>
                    <div class="panel-body">
                        <center>
                        <div id="d3portfolio{{ user }}"></div>
                        </center>
                        <script>
                        // http://jsfiddle.net/MX7JC/9/

                        var agg = { label: "" }
                        agg['pct'] = {{ data['locations'][user]['pcts'] }};

    data = agg;

var labels = {{ data['locations'][user]['labels'] | safe }};
var labels{{user}} = labels

var w = 280,                       // width and height, natch
    h = 280,
    r = Math.min(w, h) / 2,        // arc radius
    dur = 2500,                     // duration, in milliseconds
    color = d3.scale.category10(),
    donut = d3.layout.pie().sort(null),
    arc = d3.svg.arc().innerRadius(r - 90).outerRadius(r - 20);

// ---------------------------------------------------------------------
var svg{{ user }} = d3.select("#d3portfolio{{ user }}").append("svg:svg")
    .attr("width", w).attr("height", h);

var arc_grp = svg{{ user }}.append("svg:g")
    .attr("class", "arcGrp")
    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");

var label_group = svg{{ user }}.append("svg:g")
    .attr("class", "lblGroup")
    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");

// GROUP FOR CENTER TEXT
var center_group = svg{{ user }}.append("svg:g")
    .attr("class", "ctrGroup")
    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");

// CENTER LABEL
var pieLabel{{user}} = center_group.append("svg:text")
    .attr("dy", ".35em").attr("class", "chartLabel")
    .attr("text-anchor", "middle")
    .text(data.label);

// DRAW ARC PATHS
var arcs{{user}} = arc_grp.selectAll("path")
    .data(donut(data.pct));
arcs{{user}}.enter().append("svg:path")
    .attr("stroke", "white")
    .attr("stroke-width", 0.5)
    .attr("fill", function(d, i) {return color(i);})
    .attr("d", arc)
    .each(function(d) {this._current = d});

// DRAW SLICE LABELS
var sliceLabel{{user}} = label_group.selectAll("text")
    .data(donut(data.pct));
sliceLabel{{user}}.enter().append("svg:text")
    .attr("class", "arcLabel")
    .attr("transform", function(d) {return "translate(" + arc.centroid(d) + ")"; })
    .attr("text-anchor", "middle")
    .text(function(d, i) {return labels[i]; });

// --------- "PAY NO ATTENTION TO THE MAN BEHIND THE CURTAIN" ---------

// Store the currently-displayed angles in this._current.
// Then, interpolate from this._current to the new angles.
function arcTween(a) {
    var i = d3.interpolate(this._current, a);
    this._current = i(0);
    return function(t) {
        return arc(i(t));
    };
}

// update chart
function updateChart{{user}}(data) {
    //data = eval(model); // which model?

    arcs{{user}}.data(donut(data.pct)); // recompute angles, rebind data
    arcs{{user}}.transition().ease("elastic").duration(dur).attrTween("d", arcTween);

    sliceLabel{{user}}.data(donut(data.pct));
    sliceLabel{{user}}.transition().ease("elastic").duration(dur)
        .attr("transform", function(d) {return "translate(" + arc.centroid(d) + ")"; })
        .style("fill-opacity", function(d) {return d.value==0 ? 1e-6 : 1;});
        
    pieLabel{{user}}.text(data.label);
}

// click handler
$("#objectives a").click(function() {
    updateChart(this.href.slice(this.href.indexOf('#') + 1));
});
</script>
                        
                    </div>
                </div>
            </div>      
            {% endfor %}



        </div>
    </div>


</div>
</div>



</div>
</div>


<script>


var superdata;
window.setInterval(function() {
  $.getJSON("./getalllocations", {
     group: "{{ data['group'] }}"
    },
    function(data) {
        superdata = data
    {% for user in data['locations'] %}
        $('#{{ user }}time').text(data['locations']['{{ user }}']['time'])
        $('#{{ user }}location').text(data['locations']['{{ user }}']['location'])
        var agg2 = { label: '' }
        agg2['pct'] = eval(data['locations']['{{ user }}']['pcts']);
        if (eval(data['locations']['{{ user }}']['labels'])[0] != labels{{ user }}[0]) {
            location.reload();
        }
        updateChart{{user}}(agg2);
    {% endfor %}
  });
}, 1500);
</script>





	</div>
{% endblock %}
