{% extends "base.html" %}
{% block head_scripts %}
        <style>


.location-listing > .row > .col-md-6:nth-child(2n+1) {
    clear: both;
}

        iframe:focus {

            outline:none;
        }
        iframe[seamless] {
            display:block;
        }

        dl {
          width: 100%;
          overflow: hidden;
        }
        dt {
          float: left;
          width: 50%;
          /* adjust the width; make sure the total of both is 100% */
        }
        dd {
          float: left;
          width: 50%;
          /* adjust the width; make sure the total of both is 100% */
        }

        .chartLabel {
  font: 16px sans-serif;
  fill: #666;
}
.arcLabel {
  font: 10px sans-serif;
  fill: #fff;
}
        </style>



<script src="/static/js/sweetalert.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/d3.tip.v0.6.3.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
{% endblock %}

{% block content %}
	 <!-- Page Content -->
	<div class="container">

        
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Dashboard
					<small>View database statistics and fingerprint integrity</small>
				</h2>
			</div>


		</div>
        




        <!-- Page Header -->
        {% if data['message'] %}
         <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
        <div class="center-block">
        {% if 'error' in data['message']|lower %}
        <p class="bg-danger text-center lead">
        {% else %}
        <p class="bg-success text-center lead">        
        {% endif %}
        {{ data['message'] }}</p>
        </div></div></div>
        {% endif %}










<div class="row clearfix" id="content-row">
    <div class="col-xs-12 column">



   <div class="well" id="volume-parameters-well">
        <div class="row clearfix" id="volume-fees-row">
            <div class="col-md-12 column" id="volume-fees-chart">
                <div class="panel panel-primary" id="volume-fees-panel">
                    <div class="panel-body">
                    <button type="submit" class="btn btn-info btn-block" id="recalculateAll">Calculate All and Find Parameters</button>
                    </div>
                    <div class="panel-body">
                    <button type="submit" class="btn btn-info btn-block" id="recalculate">Calculate All</button>
                    </div>


                </div>

            </div>
           



        </div>
    </div>


    <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
            <h3>Database statistics</h3>
        </div>
    </div>


    <div class="well" id="volume-stats-well">
        <div class="row clearfix" id="location-listing">
        
            {% for network in data['network'] %}
              <div class="col-md-6 column" id="volume-fees-chart">
                <div class="panel panel-primary" id="volume-fees-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ network }}
                        </h3>
                    </div>
                    <div class="panel-body">
                         <dl>
                        {% for loc in data['network'][network] %}
                          <dt>{{ loc }} &nbsp;<a id="{{ loc }}" class="editloc"><span class="fa fa-pencil-square-o"></span></a>&nbsp;<a id="{{ loc }}" class="deleteloc"><i class="fa fa-trash"></i></a>&nbsp;</dt>
                          <dd>{{ data['table_data']['learn'][loc] }} ({{ data['table_data']['test'][loc] }}) 

                        {% if data['pie_stats'][loc] %}
                        {% if data['pie_stats'][loc]['percentage'] > 80 %}
                        <span class="bg-success">{{ data['pie_stats'][loc]['percentage'] }}%  </span>
                        {% elif data['pie_stats'][loc]['percentage'] > 60 %}
                        <span class="bg-info">{{ data['pie_stats'][loc]['percentage'] }}%  </span>
                        {% elif data['pie_stats'][loc]['percentage'] > 40 %}
                        <span class="bg-warning">{{ data['pie_stats'][loc]['percentage'] }}%  </span>
                        {% else %}
                        <span class="bg-danger">{{ data['pie_stats'][loc]['percentage'] }}% </span>
                        {% endif %}
                        {% endif %}
                          

                          </dd>
                        {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>      
            {% endfor %}



        </div>
    </div>

    
    <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
            <h3>Set parameters</h3>
        </div>
    </div>
   <div class="well" id="volume-parameters-well">
        <div class="row clearfix" id="volume-fees-row">
            {% for graph in data['network'] %}
            {% if 'Uncalculated' in graph|string %}{% else %}
            <div class="col-md-6 column" id="volume-fees-chart">
                <div class="panel panel-primary" id="volume-fees-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Analysis parameters for {{ graph }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for parameter in data['calculation_parameters'][graph]|sort %}
                        {% if 'percentage' in parameter or 'simulations' in parameter %}
                        {% else %}
                        <div class="col-xs-12 column">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon2">{{ parameter|replace("_"," ")|capitalize }}</span>
                              <input type="text" class="form-control" id="{{ parameter }}{{ graph }}" value="{{ data['calculation_parameters'][graph][parameter] }}" aria-describedby="basic-addon2">
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <hr><br>

                    </div>
                 <div class="panel-body">
                 <div class="col-xs-6 column">
                    <button class="btn btn-danger btn-block" id="update_parameters{{ graph }}">Update parameters</button>
                    </div>
                 <div class="col-xs-6 column">
                    <button type="submit" class="btn btn-danger btn-block" id="recalculate">Calculate</button>
                    </div>
                </div>
                </div>

            </div>
            {% endif %}
            {% endfor %}
            


            <div class="col-md-6 column">
                <div class="panel panel-primary" id="volume-fees-summary-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Parameters guide
                        </h3>
                    </div>
                    <div class="panel-body">
                          <p><b>Persistence</b>: Designates the number of prevoius fingerprints to integrate into current fingerprint.</p>
                          <p><b>PDF type</b>: Choose from a thin gaussian (1) to a wide gaussian kernel (6).</p>
                          <p><b>Usefulness</b>: Standard deviation threshold for determining the useful macs.</p>
                          <p><b>Absentee</b>: Designates the number of expected "empty" mac addresses.</p>
                          <p><b>Number of simulations</b>: Number of simulations to run for testing the posterior calculations.</p>
                          <p><b>Dropout percentage</b>: <i>For simulations only!</i> Percentage of the time that simulated fingerprints are dropped.</p>
                          <p><b>Trigger server</b>: Specify a server to which the current location and user will be sent as a <code>POST</code> request during tracking.</p>

                    </div>
                </div>
            </div>




        </div>
    </div>

    <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
            <h3>Database analysis (real)</h3>
        </div>
    </div>


    <div class="well" id="volume-fees-well">
        <div class="row clearfix" id="volume-fees-row">
        
                    <div class="col-md-12 column">
                <div class="panel panel-primary" id="volume-fees-summary-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Summary
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead">Average accuracy: {{ data['accuracy'] }}%</p>
                        These donut charts show the proportion of locations classified for each location <b>using single fingerprints used for generating posteriors</b>. Ideally, the charts should be a solid color, meaning 100% accuracy in detection.
                    </div>
                </div>

            </div>
            
        {% for graph in data['network'] %}
        {% if 'Uncalculated' in graph|string %}{% else %}
            <div class="col-md-12 column" id="volume-fees-chart">
                <div class="panel panel-primary" id="volume-fees-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Classification errors - Graph {{ graph }}
                        </h3>
                    </div>
                    <div class="panel-body">
<iframe src="./pies.html?group={{ data['group'] }}&graph={{ graph }}" width="100%" frameBorder=0 height="180px"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            

        </div>
    </div>


    <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
            <h3>Signal PDFs</h3>
        </div>
    </div>



    <div class="well" id="volume-signals-well">
        <div class="row clearfix" id="volume-fees-row">
            <div class="col-md-12 column" id="volume-fees-chart">
                <div class="panel panel-primary" id="volume-fees-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Signal Charts
                        </h3>
                    </div>
                    <div class="panel-body">
<iframe src="./charts.html?group={{ data['group'] }}" width="100%" frameBorder=0 height="600px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
            <h3>Signal Time Variance</h3>
        </div>
    </div>



    <div class="well" id="volume-signals-well">
        <div class="row clearfix" id="volume-fees-row">
            <div class="col-md-12 column" id="volume-fees-chart">
                <div class="panel panel-primary" id="volume-fees-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Signal Charts
                        </h3>
                    </div>
                    <div class="panel-body">
<iframe src="./time_charts.html?group={{ data['group'] }}" width="100%" frameBorder=0 height="600px"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</div>


<script>
$(document).ready(function(){
    $('.deleteloc').css( 'cursor', 'pointer' );
    $('.editloc').css( 'cursor', 'pointer' );
    
    
    {% for graph in data['calculation_parameters'] %}
    $('#update_parameters{{ graph }}').click(function() { 
        swal({
          title: "Update Parameters",
          text: "Submit to update parameters for {{ graph }}",
          type: "info",
          showCancelButton: true,
          closeOnConfirm: false,
          showLoaderOnConfirm: true,
        },
        function(){
                $.post("./parameters", 
                    JSON.stringify({ 
                        {% for parameter in data['calculation_parameters'][graph] %}
                        "{{ parameter }}":$('#{{ parameter }}{{ graph }}').val(),
                        {% endfor %}
                        "group":"{{ data['group'] }}",
                        "graph":{{ graph }},
                    }),
                    function(data) {
                        console.log(data);
                        if (data['success']) {
                            swal("Updating parameters successful!");
                        }
                    }
                );
        });
    });
    {% endfor %}
    
    $('#recalculateAll').click(function() { 
        swal({
          title: "Recalculate priors and analyze accuracy",
          text: "This may take a minute",
          type: "info",
          showCancelButton: true,
          closeOnConfirm: false,
          showLoaderOnConfirm: true,
        },
        function(){
                $.get("./calculate", 
                    { 
                        "group":"{{ data['group'] }}",
                    },
                    function(data) {
                        console.log(data);
                        if (data['success']) {
                            swal("Recalculating priors successful!");
                            location.reload();
                        }
                    }
                );
        });
    });    
    
    $('#recalculate').click(function() { 
        swal({
          title: "Recalculate priors and analyze accuracy",
          text: "This may take a minute",
          type: "info",
          showCancelButton: true,
          closeOnConfirm: false,
          showLoaderOnConfirm: true,
        },
        function(){
                $.get("./calculateBest", 
                    { 
                        "group":"{{ data['group'] }}",
                    },
                    function(data) {
                        console.log(data);
                        if (data['success']) {
                            swal("Recalculating priors successful!");
                            location.reload();
                        }
                    }
                );
        });
    });

    $('.deleteloc').click(function() { 
        var placeToDelete = $(this).attr('id');
        swal({
          title: "Delete location",
          text: "Are you sure you want to delete " + placeToDelete,
           type: "warning",   
           showCancelButton: true,   
           confirmButtonColor: "#DD6B55",   
           confirmButtonText: "Yes, delete it!",   
           cancelButtonText: "No, cancel pls!",   
           closeOnConfirm: false,   
           closeOnCancel: false
        },
        function(isConfirm){
            if (isConfirm) {
                $.get("./delete", 
                    { 
                        "group":"{{ data['group'] }}",
                        "location":placeToDelete
                    },
                    function(data) {
                        console.log(data);
                        if (data['success']) {
                            swal("Deleted!", data['message'], "success");
                        } else {
                            swal("Sorry", data['message'], "error"); 
                        }
                    }
                );
            } else {
               swal("Cancelled", "Your data is safe :)", "error"); 
            }
        });
                
    });
    $('.editloc').click(function() { 
        var place = $(this).attr('id');
        swal({
          title: "Edit location",
          text: "Are you sure you want to rename '" + place + "'",
           type: "warning",   
           showCancelButton: true,   
           confirmButtonColor: "#DD6B55",   
           confirmButtonText: "Yes, rename it!",   
           cancelButtonText: "No, cancel pls!",   
           closeOnConfirm: false,   
           closeOnCancel: false
        },
        function(isConfirm){
            if (isConfirm) {


                swal({
                  title: "Edit name",
                  text: "Enter the new name for '" + place + "':",
                  type: "input",
                  showCancelButton: true,
                  closeOnConfirm: false,
                  animation: "slide-from-top",
                  inputPlaceholder: "newlocation"
                },
                function(inputValue){
                  if (inputValue === false) {
                    swal.showInputError("You need to write something!");
                    return false
                  }
                  
                  if (inputValue === "") {
                    swal.showInputError("You need to write something!");
                    return false
                  }
                  
                    $.get("./editname", 
                        { 
                            "group":"{{ data['group'] }}",
                            "location":place,
                            "newname": inputValue
                        },
                        function(data) {
                            console.log(data);
                            if (data['success']) {
                                swal("Edited!", data['message'], "success");
                            } else {
                                swal("Something went wrong.", data['message'], "error"); 
                            }
                        }
                    );


                  swal("Nice!", "You wrote: " + inputValue, "success");
                });

            } else {
               swal("Cancelled", "Name is still the same! :)", "error"); 
            }
        });
                
    });

    $('#reanalyze_real').click(function() { 
        swal({
          title: "Analyzing with test database",
          text: "This may take a minute...",
          type: "info",
          showCancelButton: true,
          closeOnConfirm: false,
          showLoaderOnConfirm: true,
        },
        function(){
                $.get("./revaluate", 
                    { 
                        "group":"{{ data['group'] }}",
                        "data":"real"
                    },
                    function(data) {
                        console.log(data);
                        if (data['success']) {
                            swal("Reevaluation of data successful!");
                            location.reload();
                        }
                    }
                );
        });
    });

    $('#reanalyze_simulations').click(function() { 
        swal({
          title: "Analyzing with simulated signals",
          text: "This may take a minute...",
          type: "info",
          showCancelButton: true,
          closeOnConfirm: false,
          showLoaderOnConfirm: true,
        },
        function(){
                $.get("./revaluate", 
                    { 
                        "group":"{{ data['group'] }}",
                        "data":"simulated"
                    },
                    function(data) {
                        console.log(data);
                        if (data['success']) {
                            swal("Reevaluation of data successful!");
                            location.reload();
                        }
                    }
                );
        });
    });




});


</script>



<hr>


	</div>
{% endblock %}
